In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("Data/survey_results_public.csv",index_col='Respondent')
schema_df= pd.read_csv("Data/survey_results_schema.csv",index_col='Column')

In [3]:
schema_df.head()

                                                 QuestionText
Column
Respondent  Randomized respondent ID number (not in order ...
MainBranch  Which of the following options best describes ...
Hobbyist                              Do you code as a hobby?
Age         What is your age (in years)? If you prefer not...
Age1stCode  At what age did you write your first line of c...

In [4]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [5]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"Iâ€™m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [6]:
df.shape

(64461, 60)

In [7]:
df.shape

(64461, 60)

In [8]:
pd.get_option("display.max_columns")

85

In [9]:
pd.get_option("display.max_rows")

85

In [10]:
pd.set_option("display.max_columns",10)

In [11]:
df.iloc[0]

MainBranch                                         I am a developer by profession
Hobbyist                                                                      Yes
Age                                                                           NaN
Age1stCode                                                                     13
CompFreq                                                                  Monthly
CompTotal                                                                     NaN
ConvertedComp                                                                 NaN
Country                                                                   Germany
CurrencyDesc                                                        European Euro
CurrencySymbol                                                                EUR
DatabaseDesireNextYear                                       Microsoft SQL Server
DatabaseWorkedWith                      Elasticsearch;Microsoft SQL Server;Oracle
DevType                         Developer, desktop or enterprise applications;...
EdLevel                           Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)
Employment                      Independent contractor, freelancer, or self-em...
Ethnicity                                            White or of European descent
Gender                                                                        Man
JobFactors                      Languages, frameworks, and other technologies ...
JobSat                                                         Slightly satisfied
JobSeek                              I am not interested in new job opportunities
LanguageDesireNextYear                                     C#;HTML/CSS;JavaScript
LanguageWorkedWith                                         C#;HTML/CSS;JavaScript
MiscTechDesireNextYear                                          .NET Core;Xamarin
MiscTechWorkedWith                                                 .NET;.NET Core
NEWCollabToolsDesireNextYear               Microsoft Teams;Microsoft Azure;Trello
NEWCollabToolsWorkedWith             Confluence;Jira;Slack;Microsoft Azure;Trello
NEWDevOps                                                                      No
NEWDevOpsImpt                                                  Somewhat important
NEWEdImpt                                                        Fairly important
NEWJobHunt                                                                    NaN
NEWJobHuntResearch                                                            NaN
NEWLearn                                                              Once a year
NEWOffTopic                                                              Not sure
NEWOnboardGood                                                                NaN
NEWOtherComms                                                                  No
NEWOvertime                                      Often: 1-2 days per week or more
NEWPurchaseResearch             Start a free trial;Ask developers I know/work ...
NEWPurpleLink                                                              Amused
NEWSOSites                       Stack Overflow (public Q&A for anyone who codes)
NEWStuck                        Visit Stack Overflow;Go for a walk or other ph...
OpSys                                                                     Windows
OrgSize                                                          2 to 9 employees
PlatformDesireNextYear             Android;iOS;Kubernetes;Microsoft Azure;Windows
PlatformWorkedWith                                                        Windows
PurchaseWhat                                                                  NaN
Sexuality                                                 Straight / Heterosexual
SOAccount                                                                      No
SOComm                                                             No, not at all
SOPartFreq                                                                    NaN
SOVisitFreq                                                Multiple times per day
SurveyEase                                             Neither easy nor difficult
SurveyLength                                                Appropriate in length
Trans                                                                          No
UndergradMajor                  Computer science, computer engineering, or sof...
WebframeDesireNextYear                                               ASP.NET Core
WebframeWorkedWith                                           ASP.NET;ASP.NET Core
WelcomeChange                             Just as welcome now as I felt last year
WorkWeekHrs                                                                    50
YearsCode                                                                      36
YearsCodePro                                                                   27
Name: 1, dtype: object

In [12]:
df.columns

Index(['MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq', 'CompTotal',
       'ConvertedComp', 'Country', 'CurrencyDesc', 'CurrencySymbol',
       'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'EdLevel',
       'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek',
       'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [13]:
df.columns[0:3]

Index(['MainBranch', 'Hobbyist', 'Age'], dtype='object')

In [14]:
people = {
    'name': ['Naresh', 'Nilusha', 'Arjuna'],
     'last name': ['Ramanathan', 'Gnanachandran', 'Naresh'],
     'email': ['nari@gmail.com','nilu@gmail.com','arjun@gmail.com']
}

In [15]:
schema_df.sort_index()

                                                                   QuestionText
Column
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
Hobbyist                                                Do you code as a hobby?
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MainBranch                    Which of the following options best describes ...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Respondent                    Randomized respondent ID number (not in order ...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
Sexuality                     Which of the following describe you, if any? P...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [16]:
schema_df.loc['YearsCode','QuestionText']

'Including any education, how many years have you been coding in total?'

In [17]:
df.loc[1,'YearsCode']

'36'

In [18]:
df.loc[3,'Country']

'Russian Federation'

In [19]:
schema_df.loc['Country','QuestionText']

'Where do you live?'

In [20]:
filt = df['LanguageWorkedWith'].str.contains('Python',na=False)
df.loc[filt,'LanguageWorkedWith']

Respondent
3                                 Objective-C;Python;Swift
8                                               Python;SQL
10                     HTML/CSS;Java;JavaScript;Python;SQL
13                                     C;JavaScript;Python
15        Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
                               ...
61561    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
62391       C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
63077              C++;HTML/CSS;Java;JavaScript;Python;SQL
63640    Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
Name: LanguageWorkedWith, Length: 25287, dtype: object

In [21]:
filt.count()

64461

In [22]:
filt

Respondent
1        False
2        False
3         True
4        False
5        False
         ...
64858    False
64867     True
64898    False
64925    False
65112    False
Name: LanguageWorkedWith, Length: 64461, dtype: bool

In [23]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4        Yes
5        Yes
        ...
64858    Yes
64867    Yes
64898    Yes
64925    Yes
65112    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [24]:
df['Hobbyist'].replace({'Yes':True,'No':False})

Respondent
1         True
2        False
3         True
4         True
5         True
         ...
64858     True
64867     True
64898     True
64925     True
65112     True
Name: Hobbyist, Length: 64461, dtype: object

In [25]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes':True,'No':False})

In [26]:
df.rename(columns={'Gender':'Sex'})

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,...,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,
1,I am a developer by profession,True,NaN,13,Monthly,...,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,False,NaN,19,NaN,...,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,True,NaN,15,NaN,...,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,True,25.0,18,NaN,...,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",True,31.0,16,NaN,...,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,True,NaN,16,NaN,...,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
64898,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
64925,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
65112,NaN,True,NaN,NaN,NaN,...,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [27]:
df.sort_values(by=['Country','ConvertedComp'],ascending=[True,False],inplace=True)

In [28]:
df[['Country','ConvertedComp']].head(500)

                Country  ConvertedComp
Respondent
62788       Afghanistan      1000000.0
65381       Afghanistan      1000000.0
65456       Afghanistan      1000000.0
38672       Afghanistan       231192.0
28374       Afghanistan       130000.0
...                 ...            ...
888           Argentina            NaN
1448          Argentina            NaN
3212          Argentina            NaN
4076          Argentina            NaN
4409          Argentina            NaN

[500 rows x 2 columns]

In [29]:
df['ConvertedComp'].nlargest(5)

Respondent
5725     2000000.0
54263    2000000.0
43430    2000000.0
59279    2000000.0
46711    2000000.0
Name: ConvertedComp, dtype: float64

In [30]:
df['ConvertedComp'].median()

54049.0

In [31]:
df['Hobbyist'].value_counts()

True     50388
False    14028
Name: Hobbyist, dtype: int64

In [32]:
df['JobSeek']

Respondent
62788                 I am actively looking for a job
65381                                             NaN
65456                                             NaN
38672                                             NaN
28374    I am not interested in new job opportunities
                             ...
60055                                             NaN
61121                                             NaN
61570                                             NaN
61918                                             NaN
62605                                             NaN
Name: JobSeek, Length: 64461, dtype: object

In [33]:
schema_df.loc['JobSeek','QuestionText']

'Which of the following best describes your current job-seeking status?'

In [34]:
country_grp = df.groupby(['Country'])
country_grp

In [35]:
country_grp.get_group('India')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,...,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,
37655,I am a developer by profession,False,NaN,15,Monthly,...,ASP.NET;Express,NaN,40.0,13,10
36976,"I am not primarily a developer, but I write co...",False,NaN,20,Yearly,...,NaN,NaN,50.0,15,10
3332,I am a developer by profession,True,NaN,19,Monthly,...,Flask;Spring,Somewhat less welcome now than last year,35.0,7,3
8457,I am a developer by profession,True,22.0,18,Monthly,...,NaN,NaN,45.0,4,Less than 1 year
21351,I am a developer by profession,False,98.0,17,Weekly,...,jQuery,NaN,1.0,6,6
...,...,...,...,...,...,...,...,...,...,...,...
54757,NaN,True,NaN,18,NaN,...,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year
55407,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
62464,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
62954,NaN,True,NaN,NaN,NaN,...,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
64236,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [36]:
df['Sexuality'].value_counts()

Straight / Heterosexual                                  40118
Bisexual                                                  1918
Gay or Lesbian                                             978
Bisexual;Straight / Heterosexual                           258
Queer                                                      249
Bisexual;Queer                                             191
Gay or Lesbian;Queer                                        90
Straight / Heterosexual;Queer                               56
Bisexual;Gay or Lesbian                                     40
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer       39
Bisexual;Gay or Lesbian;Queer                               24
Gay or Lesbian;Straight / Heterosexual                      13
Bisexual;Straight / Heterosexual;Queer                      10
Bisexual;Gay or Lesbian;Straight / Heterosexual              8
Name: Sexuality, dtype: int64

In [37]:
country_grp.get_group('India')['Sexuality'].value_counts()

Straight / Heterosexual                                  3609
Bisexual                                                  155
Bisexual;Straight / Heterosexual                           12
Gay or Lesbian                                             10
Queer                                                       9
Bisexual;Gay or Lesbian;Straight / Heterosexual;Queer       3
Gay or Lesbian;Straight / Heterosexual                      3
Bisexual;Queer                                              3
Bisexual;Straight / Heterosexual;Queer                      1
Gay or Lesbian;Queer                                        1
Bisexual;Gay or Lesbian;Straight / Heterosexual             1
Straight / Heterosexual;Queer                               1
Name: Sexuality, dtype: int64

In [38]:
country_grp

In [39]:
df['ConvertedComp']

Respondent
62788    1000000.0
65381    1000000.0
65456    1000000.0
38672     231192.0
28374     130000.0
           ...
60055          NaN
61121          NaN
61570          NaN
61918          NaN
62605          NaN
Name: ConvertedComp, Length: 64461, dtype: float64

In [40]:
country_grp['ConvertedComp'].agg(['mean','median']).loc['Canada']

mean      115101.775465
median     68068.000000
Name: Canada, dtype: float64

In [41]:
fil=df['Country']=='China'

In [42]:
df[fil]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,...,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,
37094,I am a developer by profession,False,NaN,14,Monthly,...,NaN,NaN,50.0,17,10
22426,I am a developer by profession,True,35.0,19,Monthly,...,Ruby on Rails;Spring,Somewhat less welcome now than last year,40.0,15,10
20098,I am a developer by profession,True,35.0,22,Monthly,...,Django;jQuery;Spring,Just as welcome now as I felt last year,NaN,17,10
50261,I am a developer by profession,False,NaN,15,Monthly,...,NaN,NaN,NaN,9,2
8434,I am a developer by profession,True,28.0,14,Yearly,...,NaN,Just as welcome now as I felt last year,50.0,14,6
...,...,...,...,...,...,...,...,...,...,...,...
65339,I am a developer by profession,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
65435,"I am not primarily a developer, but I write co...",True,NaN,11,NaN,...,NaN,NaN,NaN,10,6
65506,I am a developer by profession,False,NaN,NaN,NaN,...,Django;Flask;jQuery,Somewhat less welcome now than last year,NaN,NaN,NaN
65510,I am a developer by profession,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
65519,"I am not primarily a developer, but I write co...",True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [43]:
df.loc[fil]['LanguageWorkedWith'].str.contains('Python').sum()

158

In [44]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [45]:
df['Country']

Respondent
62788    Afghanistan
65381    Afghanistan
65456    Afghanistan
38672    Afghanistan
28374    Afghanistan
            ...
60055            NaN
61121            NaN
61570            NaN
61918            NaN
62605            NaN
Name: Country, Length: 64461, dtype: object

In [46]:
country_responders = df['Country'].value_counts()

In [47]:
country_responders

United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
                  ...
Nauru                 1
Chad                  1
Mali                  1
Lesotho               1
Kiribati              1
Name: Country, Length: 183, dtype: int64

In [48]:
know_python=country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [49]:
know_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [50]:
df[['Country','LanguageWorkedWith']]

                Country                LanguageWorkedWith
Respondent
62788       Afghanistan                               NaN
65381       Afghanistan                               NaN
65456       Afghanistan                               NaN
38672       Afghanistan                               NaN
28374       Afghanistan  Bash/Shell/PowerShell;C;C++;Java
...                 ...                               ...
60055               NaN                               NaN
61121               NaN                               NaN
61570               NaN                               NaN
61918               NaN                               NaN
62605               NaN                               NaN

[64461 rows x 2 columns]

In [51]:
python_user = pd.concat([know_python,country_responders],axis='columns')

In [52]:
python_user

                                      LanguageWorkedWith  Country
Afghanistan                                           11       84
Albania                                               13       54
Algeria                                               40       94
Andorra                                                3       13
Angola                                                 1        9
...                                                  ...      ...
Venezuela, Bolivarian Republic of...                  29       70
Viet Nam                                             102      364
Yemen                                                  1        7
Zambia                                                 4       21
Zimbabwe                                              13       31

[183 rows x 2 columns]

In [53]:
python_user.loc['India']

LanguageWorkedWith    2670
Country               8403
Name: India, dtype: int64

In [54]:
df['Country'].dropna()

Respondent
62788    Afghanistan
65381    Afghanistan
65456    Afghanistan
38672    Afghanistan
28374    Afghanistan
            ...
55739       Zimbabwe
56060       Zimbabwe
61917       Zimbabwe
64129       Zimbabwe
64506       Zimbabwe
Name: Country, Length: 64072, dtype: object

In [55]:
df.isna()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,...,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,
62788,False,False,True,True,False,...,True,True,True,True,True
65381,False,False,True,False,False,...,True,True,False,False,False
65456,False,False,True,False,False,...,True,True,True,False,False
38672,False,False,True,False,False,...,True,True,True,False,False
28374,False,False,True,False,False,...,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...
60055,True,False,True,True,True,...,True,True,True,True,True
61121,True,False,True,True,True,...,True,True,True,True,True
61570,True,False,True,True,True,...,True,True,True,True,True
61918,True,False,True,True,True,...,True,True,True,True,True
62605,True,False,True,True,True,...,True,True,True,True,True

In [56]:
df['YearsCode'].head(10)

Respondent
62788                   NaN
65381                    30
65456    More than 50 years
38672                    40
28374                    17
9839                     10
63848                    14
51862                     5
51509                     8
44484                     8
Name: YearsCode, dtype: object

In [57]:
df.dtypes

MainBranch                       object
Hobbyist                         object
Age                             float64
Age1stCode                       object
CompFreq                         object
CompTotal                       float64
ConvertedComp                   float64
Country                          object
CurrencyDesc                     object
CurrencySymbol                   object
DatabaseDesireNextYear           object
DatabaseWorkedWith               object
DevType                          object
EdLevel                          object
Employment                       object
Ethnicity                        object
Gender                           object
JobFactors                       object
JobSat                           object
JobSeek                          object
LanguageDesireNextYear           object
LanguageWorkedWith               object
MiscTechDesireNextYear           object
MiscTechWorkedWith               object
NEWCollabToolsDesireNextYear     object
NEWCollabToolsWorkedWith         object
NEWDevOps                        object
NEWDevOpsImpt                    object
NEWEdImpt                        object
NEWJobHunt                       object
NEWJobHuntResearch               object
NEWLearn                         object
NEWOffTopic                      object
NEWOnboardGood                   object
NEWOtherComms                    object
NEWOvertime                      object
NEWPurchaseResearch              object
NEWPurpleLink                    object
NEWSOSites                       object
NEWStuck                         object
OpSys                            object
OrgSize                          object
PlatformDesireNextYear           object
PlatformWorkedWith               object
PurchaseWhat                     object
Sexuality                        object
SOAccount                        object
SOComm                           object
SOPartFreq                       object
SOVisitFreq                      object
SurveyEase                       object
SurveyLength                     object
Trans                            object
UndergradMajor                   object
WebframeDesireNextYear           object
WebframeWorkedWith               object
WelcomeChange                    object
WorkWeekHrs                     float64
YearsCode                        object
YearsCodePro                     object
dtype: object

In [58]:
df['YearsCode'].unique()

array([nan, '30', 'More than 50 years', '40', '17', '10', '14', '5', '8',
       '9', '4', '6', '3', '2', '35', '1', 'Less than 1 year', '7', '12',
       '50', '19', '20', '11', '15', '24', '27', '28', '16', '22', '13',
       '18', '25', '38', '34', '23', '32', '21', '42', '33', '26', '29',
       '39', '48', '36', '47', '41', '37', '31', '43', '44', '45', '46',
       '49'], dtype=object)

In [59]:
df['YearsCode'].replace('More than 50 years',55,inplace=True)
df['YearsCode'].replace('Less than 1 year',0,inplace=True)

In [60]:
df['YearsCode'].dtypes

dtype('O')

In [61]:
df['YearsCode']=df['YearsCode'].astype(float)

In [62]:
df['YearsCode'].dtypes

dtype('float64')

In [63]:
df['YearsCode'].mean()

12.718968864849872

In [65]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,...,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,
62788,I am a developer by profession,True,NaN,NaN,Weekly,...,NaN,NaN,NaN,NaN,NaN
65381,I am a developer by profession,False,NaN,8,Weekly,...,NaN,NaN,4.0,30.0,35
65456,I am a developer by profession,True,NaN,Younger than 5 years,Weekly,...,NaN,NaN,NaN,55.0,More than 50 years
38672,I am a developer by profession,False,NaN,5,Monthly,...,NaN,NaN,NaN,40.0,40
28374,I am a developer by profession,True,NaN,7,Yearly,...,NaN,Just as welcome now as I felt last year,NaN,17.0,5
...,...,...,...,...,...,...,...,...,...,...,...
60055,NaN,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
61121,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
61570,NaN,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
61918,NaN,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
62605,NaN,False,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [68]:
filt = (df['Country'] == 'India')
india_df = df[filt]
india_df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,...,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,
37655,I am a developer by profession,False,NaN,15,Monthly,...,ASP.NET;Express,NaN,40.0,13.0,10
36976,"I am not primarily a developer, but I write co...",False,NaN,20,Yearly,...,NaN,NaN,50.0,15.0,10
3332,I am a developer by profession,True,NaN,19,Monthly,...,Flask;Spring,Somewhat less welcome now than last year,35.0,7.0,3
8457,I am a developer by profession,True,22.0,18,Monthly,...,NaN,NaN,45.0,4.0,Less than 1 year
21351,I am a developer by profession,False,98.0,17,Weekly,...,jQuery,NaN,1.0,6.0,6

In [69]:
india_df.to_csv('Data/modified.csv')